body {
    background-color: #AED6F1;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #196F3D;
    text-align: center;
  }
  
  button {
    background-color: #F4D03F;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .caja {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  
  .azul {
    background-color: #3498DB;
  }
  
  .roja {
    background-color: #E74C3C;
  }
  
  .verde {
    background-color: #58D68D;
  }
  .contenedor {
    display: flex;
    flex-wrap: wrap;
  }
.nombres{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  

}  